.card_cat {
    position: relative;
    width: 328px;
    display: flex;
    flex-direction: column;
}

.card_cat .img_liked {
    width: 328px;
    height: 328px;
    position: relative;
}

.card_cat .img_liked svg {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.card_cat .img_liked svg .fil2 {
    fill: none
}

.card_cat .img_liked svg .fil3 {
    fill: #D5D5D5
}

.card_cat .img_liked svg .fil1 {
    fill: #D5D5D5;
    transition: .6s;
}

.card_cat .img_liked svg .fil0 {
    fill: black;
    transition: .6s;

}

.card_cat .img_liked svg .fil4 {
    fill: #D5D9DD
}

.card_cat .img_liked svg.liked .fil1 {
    fill: rgb(199, 4, 4);
    transition: .6s;
}

.card_cat .img_liked svg.liked .fil0 {
    fill: rgb(199, 4, 4);
}

.card_cat .text .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card_cat .text>div {
    margin-top: 10px;
}

.card_cat .text>div:nth-child(1) h4 {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.card_cat .text p {
    color: rgb(175, 175, 175);
}

.card_cat .text>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.card_cat .text>div:nth-child(2) button{
    text-decoration: underline;
    width: fit-content;
    background: none;
    color: #000;
    font-size: 18.67px;
}

    .card_cat .text>div:nth-child(2) a,
    .card_cat .text>div:nth-child(3) p {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card_cat .text>div:nth-child(2) a:first-child {
        text-decoration: underline;
    }

    .card_cat .text>div:nth-child(4) {
        width: 100%;
        position: relative;
        display: flex;
    }

    .card_cat .text>div:nth-child(4) a {
        cursor: pointer;
        font-family: "Oxygen";
        background: rgba(21, 43, 52, 0.6);
        border-radius: 100px;
        color: white;
        padding: 1px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }